.fav{
background-color:blue;
color:white;
font-style:italic;
}

li{
list-style:none;
margin-bottom:10px;
font-size:38pt;
text-align:center;
}

.title{
font-weight:bold;
font-size:45pt;
text-align:center;
}